:host {
  display: block;
  width: 100%;
  padding: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:host * {
  font-size: 15px;
  font-family: "FiraSans", sans-serif;
}

:host label {
  display: block;
}

:host #currentValue {
  float: right;
  width: 50px;
  position: relative;
  top: 4px;
  color: #999;
}

:host input{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 200px;
}
